body {
    font-family: "Ubuntu", sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.voting {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.character {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 5vmax;
    white-space: nowrap; 
    overflow: hidden;
    background-color: DodgerBlue;
}

.character-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-image {
    height: 50vh;
}

.options {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
    flex: 0 0 30px;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    justify-content: end;
    align-items: center;
    text-align: center;
    background-color: gray;
    padding: 10px 40px;
    gap: 60px;
}

.screenshot-options {
    display: flex;
    flex-direction: column;
}

.screenshot {
    background-color: white;
} 

.preserve-window-size {
    color: red;
    margin-right: auto;
}

.letter {
    background-color: white;
    border: solid black 4px;
    margin: 10px;
    padding: 0px 0px 7px 0px;
}

.small {
    font-size: 40%;
}

.name {
    margin: 1vh;
}

.shrink-text-size {
    font-size: 3.5vw;
}

.casey > .character-image, .dom > .character-image {
    height: 45vh;
}

.mini > .character-image {
    height: 43vh;
}

.dimitrius > .character-image {
    height: 20vh;
}

.wyatt > .character-image {
    height: 44vh;
}

.jayson > .character-image, .jasper > .character-image, .gabe > .character-image {
    height: 40vh;
}

.oak > .character-image {
    height: 38vh;
}

.ari > .character-image {
    height: 25vh;
    padding-right: 25%;
}

.chim > .character-image {
    padding-left: 40%;
}