body {
    font-family: "Ubuntu", sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.voting {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.character {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 5vmax;
    background-color: DodgerBlue;
}

.character-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-image {
    height: 50vh;
}

.options {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
    flex: 0 0 30px;
    flex-direction: row;
    font-weight: bold;
    justify-content: end;
    align-items: center;
    text-align: center;
    background-color: gray;
    padding: 10px 40px;
    gap: 60px;
}

.screenshot-options {
    display: flex;
    flex-direction: column;
}

.preserve-window-size {
    color: red;
    margin-right: auto;
}

.letter {
    background-color: white;
    border: solid black 4px;
    margin: 10px;
    padding: 0px 0px 7px 0px;
}

.small {
    font-size: 40%;
}

.name {
    margin: 1vh;
}

.joey>.character-image {
    height: 25vh;
}

.tye>.character-image {
    height: 45vh;
}

.brady>.character-image {
    height: 40vh;
}